certifi
chardet
click
Flask
idna
itsdangerous
Jinja2
MarkupSafe
requests
urllib3
Werkzeug
gunicorn
numpy
retry
pandas
ratelimiter
sqlalchemy
networkx
flask_session
-e git+https://github.com/mcmanustfj/ao3.git#egg=ao3