<!DOCTYPE html>
<html>
    <head>
        <!-- head definitions go here -->
    </head>
    <body>
    	<div align="center">
    	<h1>She-Ra Fic Recomendation</h1>
    	{% if rec %}
    	<p> Enter title of fic: </p>
    	{% endif %}
	<form method="POST">
    	<input name="fic_name">
    	<input type="submit">
	</form>
     <h2> Recomendations for {{fic_name}} </h2>
	  <p> Top Recomendation: {{rec}} </p>

{% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
{% endfor %}

	  <div>
    </body>
</html>
